@{
    ViewBag.Title = "Index";
}

<h2>An interactive online system for diverse location visualization</h2>
</br></br></br></br>
@Html.ActionLink("Upload algorithms and dataset Files", "Upload") 

</br></br></br></br>
@Html.ActionLink("Select an algorithm and corresponding dataset to visualize locations", "Use" ) 

